<div class='post-data'>
    <div class='post-header'>
        <p class='post-title'>
            <%= @post.title %> by <%= @post.author.name %>
        </p>
        <p class='comments-and-likes base'>
            Comment(s): <%= @post.comments_counter %>, Like(s): <%= @post.likes_counter %>
        </p>
    </div>
    <p>
        <%= @post.text %>
        <% if can? :destroy, @post %>
            <%= button_to "Delete", user_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </p>
</div>

<div class='like-comment'>

    <%# add comment %>

    <%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: "add-comment-btn" %>

    <%# like %>

    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |f| %>
        <%= f.submit "Like", class: 'like-button' %>
    <% end %>

</div>

<div class='comments-section'>
    <% if @post.comments.blank? %>
        <p>No comments!</p>
    <% else %>

    <% @post.comments.includes(:author).each do |comment| %>
        <div class='comments'>
            <p>
                <strong><%= comment.author.name %>:</strong> <%= comment.text %>
            </p>
            <% if can? :destroy, comment %>
                <%= button_to "Delete", new_user_post_comment_path(comment.author, comment.post, comment), method: :delete, data: { confirm: 'Are you sure?' }, params: { comment_id: comment.id } %>
            <% end %>
        </div>
    <% end %>
    <% end %>
</div>
