<div class='post-data'>
    <div class='post-header'>
        <p class='post-title'>
            <%= @post.title %> by <%= @post.author.name %>
        </p>
        <p class='comments-and-likes base'>
            Comment(s): <%= @post.comments_counter %>, Like(s): <%= @post.likes_counter %>
        </p>
    </div>
    <p>
        <%= @post.text %>
    </p>
</div>

<div class='comments-section'>
    <% if @post.comments.blank? %>
        <p>No comments!</p>
    <% else %>

    <% @post.comments.includes(:author).each do |comment| %>
        <p>
            <strong><%= comment.author.name %>:</strong> <%= comment.text %>
        </p>
    <% end %>
    <% end %>
</div>

<div class='like-comment'>

    <%# add comment %>

    <%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: "add-comment-btn" %>

    <%# like %>

    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |f| %>
        <%= f.submit "Like" %>
    <% end %>

</div>
